.container {
  height: 60px;
  width: 100%;
}

.outer {
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: var(--rh__neutral-bg1);
}

.inner {
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.button {
  composes: unstyled from '../../styles/button.module.scss';

  height: 100%;
  width: 100%;
  &:hover {
    border-color: var(--rh__neutral-hover-bg1);
    background-color: var(--rh__neutral-hover-bg1);

    /* show hidden edit button */
    *>button>* {
      fill: var(--rh__neutral-fg2);
    }
  }
}

.label {
  display: flex;
  cursor: pointer;
  overflow: hidden;
  margin: 8px 16px;
  padding: 4px 8px;
}

.link {
  width: 100%;
  height: 100%;
  display: flex;
  color: inherit;
  align-items: center;
  text-decoration: none;
  &:hover {
    color: var(--rh__text-color);
  }
}

.name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.caret {
  display: inline-flex;
  --rh__text-color: var(--rh__neutral-fg1);
  &:hover {
    color: var(--rh__primary-base);
  }
}

.caretContainer {
  height: 24px;
  margin-right: 20px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  transition: transform 300ms ease 0s;
  transform: rotate(180deg);
}

.toggle {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.controls {
  display: flex;
  align-items: center;

  div:not(:first-child) {
    margin-left: 10px;
  }

  & button>*:hover {
    fill: var(--rh__primary-hover);
  }
}
