.graph {
  // width: 676px;
  height: 349px;
  margin-bottom: 44px;
  position: relative;
}

.news {
  margin-bottom: 60px;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  border: 1px solid black;
}

.image {
  height: 100%;
  overflow: hidden;
  object-fit: cover;
  flex: 1 1 50%;
  margin: 0 auto;
  display: block;
}
