.container {
  padding: 20px 5px 10px 5px;
  border-bottom: 1px solid var(--rh__neutral-bg3);
}

.firstRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.content {
  display: flex;
  align-content: center;
}

.sourceTime {
  display: flex;
  align-items: baseline;

  div:first-child {
    margin-right: 5px;
  }

  div:not(:first-child) {
    color: var(--rh__neutral-fg2);
  }
}

.doMore {}

.leftCol {
  flex: 1;
  flex-flow: column nowrap;
  div {
    margin-bottom: 12px;
  }
}

.headline {
}

.summary {
  composes: type7 from '../../styles/font.module.scss';
  color: var(--rh__neutral-fg3);
}

.rightCol {
  margin-left: 24px;
  display: flex;
}

.image {
  width: 296px;
  height: 167px;
  border-radius: 4px;
}
