.container {
  width: 100%;
}

.form {
  padding: 8px 24px 0px 18px;  
}

.nameContainer {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 8px;  
}

.nameOuter {
  margin-left: 8px;
  -webkit-box-flex: 1;
  flex-grow: 1;  
}

.nameInner {
  position: relative;
  width: 100%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;  
}

.footer {
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;  
}

.formButton {
  border-radius: var(--rh__size-palette__borderRadius);
  max-width: 360px;
  height: var(--rh__size-palette__cellHeightSm);
  min-width: 96px;
  padding-left: calc(2 * var(--rh__size-palette__gutterWidth));
  padding-right: calc(2 * var(--rh__size-palette__gutterWidth));
}
