.removeIcon {
  color: var(--rh__semantic-error-base);
}

.inner {
  composes: inner from '../lists.module.scss';
  padding: 5px 20px 5px 20px;
  border-bottom: 1px solid;
  border-color: var(--rh__neutral-bg3);
}

.header {
  
}

.body {
  // background: rgb(0,0,0);
  // background: linear-gradient(90deg, rgba(0,0,0,1) 6%, rgba(52,251,0,1) 14%, rgba(0,0,0,1) 22%);
}

.burger {
  margin-right: 10px;
  cursor: move;

  &:hover {
    fill: var(--st__primary-hover);
  }
}
