.removeIcon {
  color: 'var(--rh__semantic-error-base)';
}

.inner {
  composes: inner from '../lists.module.scss';
  padding: 5px 20px 5px 20px;
}

.header {
  
}

.body {
  // background: rgb(0,0,0);
  // background: linear-gradient(90deg, rgba(0,0,0,1) 6%, rgba(52,251,0,1) 14%, rgba(0,0,0,1) 22%);
}
