.header {
  margin-bottom: 12px;
  height: 95px;
}

.subheader {
  padding-top: 2px;
}

.price {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  margin: 0;
}

.percentChange {
  composes: type4 from '../../styles/font.module.scss';
  color: var(--rh__text-color);
}

.changeTime {
  --rh__text-color: var(--rh__neutral-fg2);
  composes: type1 from '../../styles/font.module.scss';
  color: var(--rh__text-color);
  margin-left: 5px;
}

.graphContainer {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 196px;
}

.graphOuter {
  width: 676px;
  height: 196px;
}

.graphInner {
  height: 100%;
  width: 100%;
}

.nav {
  border-bottom: 1px solid;
  border-color: var(--rh__neutral-bg3);
  margin-top: 24px;
  margin-bottom: 12px;
}

.navContainer {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 33px;
  margin-left: -12px;
  margin-right: -12px;
}

.navButton {
  background: none;
  border: 0px;
  cursor: pointer;
  font: inherit;
  padding: 0px;
  color: unset;
  appearance: none;

  & span:hover {
    color: var(--rh__primary-base);
  }
}

.active {
  & span {
    border-bottom: 2px solid;
    border-color: var(--rh__primary-base);
    padding-top: 2px;
    color: var(--rh__primary-base);
  }
}

.tabOuter {
  composes: type2 from '../../styles/font.module.scss';
  margin: 0px;
  color: var(--rh__text-color);
}

.tab {
  align-items: center;
  display: flex;
  margin: 0 12px;
  position: relative;
  padding-bottom: 12px;
}
