.container {
  margin-bottom: 15px;
}

.about {
  margin: 0px 0px 24px;
  max-width: 570px;
}

.grid {
  padding-top: 18px;
}

.cell {
  margin-bottom: 12px;
}

.cellContent {
  margin-top: 0px;
  margin-bottom: 0px;
}

.cellSpacer {}
.cellContainer {}
