@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  animation: fadeIn 0.5s ease-out;
}

.outer {
  padding: 0 24px 24px;

  & section {
    margin: 12px 0 24px;
  }

  & h4 {
    color: var(--rh__neutral-fg2);
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-bottom: 12px;
  }
}

.results {
  font-weight: 500;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 28px;
  margin: 0 -24px;
  padding: 0 24px;

  &:hover {
    background-color: var(--rh__neutral-bg2);
  }
}

.symbol {
  flex: 0 0 100px;
  -webkit-box-flex: 0;
  // text-overflow: ellipsis;
}

.company {
  overflow: hidden;
  text-overflow: ellipsis;
  // white-space: nowrap;
}

.link {
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.match {
  composes: primary from '../../styles/theme.module.scss';
}
