// @include "rh_vars";
.lj-default-text {
  margin: 0px;
  text-decoration: unset;
  color: var(--rh__text-color);
}

.lj-primary {
  color: var(--rh__primary-base);
}

@mixin type1 {
  font-family: var(--rh__type-palette__type1__stack);
  font-size: var(--rh__type-palette__type1__font-size);
  font-weight: var(--rh__type-palette__type1__font-weight);
  line-height: var(--rh__type-palette__type1__line-height);
  letter-spacing: var(--rh__type-palette__type1__letter-spacing);
}
.lj-type1 {
  @include type1;
}

@mixin type2 {
  font-family: var(--rh__type-palette__type2__stack);
  font-size: var(--rh__type-palette__type2__font-size);
  font-weight: var(--rh__type-palette__type2__font-weight);
  line-height: var(--rh__type-palette__type2__line-height);
  letter-spacing: var(--rh__type-palette__type2__letter-spacing);
}

@mixin type4 {
  font-family: var(--rh__type-palette__type4__stack);
  font-size: var(--rh__type-palette__type4__font-size);
  font-weight: var(--rh__type-palette__type4__font-weight);
  line-height: var(--rh__type-palette__type4__line-height);
  letter-spacing: var(--rh__type-palette__type4__letter-spacing);
}
.lj-type4 {
  @include type4;
}

@mixin type7 {
  font-family: var(--rh__type-palette__type7__stack);
  font-size: var(--rh__type-palette__type7__font-size);
  font-weight: var(--rh__type-palette__type7__font-weight);
  line-height: var(--rh__type-palette__type7__line-height);
  letter-spacing: var(--rh__type-palette__type7__letter-spacing);
}
.lj-type7 {
  @include type7;
}

@mixin type8 {
  font-family: var(--rh__type-palette__type8__stack);
  font-size: var(--rh__type-palette__type8__font-size);
  font-weight: var(--rh__type-palette__type8__font-weight);
  line-height: var(--rh__type-palette__type8__line-height);
  letter-spacing: var(--rh__type-palette__type8__letter-spacing);
}
.lj-type8 {
  @include type8;
}

@mixin type11 {
  font-family: var(--rh__type-palette__type11__stack);
  font-size: var(--rh__type-palette__type11__font-size);
  font-weight: var(--rh__type-palette__type11__font-weight);
  line-height: var(--rh__type-palette__type11__line-height);
  letter-spacing: var(--rh__type-palette__type11__letter-spacing);
}

@mixin type12 {
  font-family: var(--rh__type-palette__type12__stack);
  font-size: var(--rh__type-palette__type12__font-size);
  font-weight: var(--rh__type-palette__type12__font-weight);
  line-height: var(--rh__type-palette__type12__line-height);
  letter-spacing: var(--rh__type-palette__type12__letter-spacing);
}

@mixin type15 {
  font-family: var(--rh__type-palette__type15__stack);
  font-size: var(--rh__type-palette__type15__font-size);
  font-weight: var(--rh__type-palette__type15__font-weight);
  line-height: var(--rh__type-palette__type15__line-height);
  letter-spacing: var(--rh__type-palette__type15__letter-spacing);
}

@mixin type16 {
  font-family: var(--rh__type-palette__type16__stack);
  font-size: var(--rh__type-palette__type16__font-size);
  font-weight: var(--rh__type-palette__type16__font-weight);
  line-height: var(--rh__type-palette__type16__line-height);
  letter-spacing: var(--rh__type-palette__type16__letter-spacing);
}
.lj-type16 {
  @include type16;
}
