.list-cell-container {
  height: 60px;
  width: 100%;
  // position: absolute;
  // top: 344px;
  // width: 100%;
}

.list-cell-outer {
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: var(--rh__neutral-bg1);  
}

.list-cell-button {
  @include unstyled-button;
  height: 100%;
  width: 100%;
  &:hover {
    border-color: var(--rh__neutral-hover-bg1);
    background-color: var(--rh__neutral-hover-bg1);
  }
}

.list-cell-inner {
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;            
  
}
.list-cell-label-container {
  display: flex;
  cursor: pointer;
  overflow: hidden;
  margin: 8px 16px;
  padding: 4px 8px;  
}

.list-cell-link {
  width: 100%;
  height: 100%;
  display: flex;
  color: inherit;
  align-items: center;
  text-decoration: none;
  &:hover {
    color: var(--rh__text-color)
  }
}

.list-cell-label-inner {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  overflow: hidden;
}  

.list-cell-icon-outer {
  flex-shrink: 0;
  margin-right: 12px;  
}

.list-cell-icon-inner {
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  background-color: var(--rh__neutral-bg2);
  height: 40px;
  width: 30px;
}

.list-cell-icon {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  
}

.list-cell-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.list-cell-caret {
  display: inline-flex;
  --rh__text-color: var(--rh__neutral-fg1);
  &:hover {
    color: var(--rh__primary-base);
  }
}

.list-cell-toggle-container {
  display: flex;
  -webkit-box-align: center;
  align-items: center;  
}

.list-cell-caret-container {
  height: 24px;
  margin-right: 20px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  transition: transform 300ms ease 0s;
  transform: rotate(180deg);  
}
