.follow-cell-container {
  height: 60px;
  // left: 0px;
  // position: absolute;
  // top: 1296px;
  width: 100%;
}

.follow-cell-outer {
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: var(--rh__neutral-bg1);
}

.follow-cell-button {
  background: none;
  border: 0px;
  cursor: not-allowed;
  font: inherit;
  padding: 0px;
  appearance: none;
  height: 100%;
  width: 100%;
  color: inherit;
}

.follow-cell-inner {
  display: flex;
  cursor: pointer;
  overflow: hidden;
  height: 100%;
  -webkit-box-flex: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  align-items: center;
}

.follow-cell-link {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0px 24px;
}

.follow-cell-icon-container {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  overflow: hidden;
}

.follow-cell-icon-outer {
  flex-shrink: 0;
  margin-right: 12px;
}

.follow-cell-icon-inner {
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  background-color: var(--rh__neutral-bg2);
  height: 40px;
  width: 30px;
}

.follow-cell-title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
