.lj-logo-named {
  position: absolute;
  top: 40px;
  display: block;
  fill: var(--rh__primary-base);
}

.lj-logo-text {
  position: relative;
  left: 7px;
  top: 3px;
  text-align: right;
  font-size: var(--rh__type-palette__type16__font-size);
  font-style: normal;
  font-weight: var(--rh__type-palette__type16__font-weight);
}
