.navbar-container {
  max-height: calc(100% - 0px - env(safe-area-inset-bottom));
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid black;
}

// FIXME: need class w/ 128px when links are shown
// and default is only 64px
.navbar-main {
  // height: 128px;  
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px 0px;
  height: 64px;
  position: relative;
}

.navbar-main-outer {
  padding: 0 24px;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  height: 64px;
}

.navbar-named-logo-centerer {
  position: relative;
  bottom: 60px;
  width: 100%;
}
.navbar-named-logo-centerer a:hover {
  color: var(--rh__primary-base);
}
