.navbar-container {
  max-height: calc(100% - 0px - env(safe-area-inset-bottom));
  position: fixed;
  top: 0;
  width: 100%;
  /* border-bottom: 1px solid black; */
}

// FIXME: need class w/ 128px when links are shown
// and default is only 64px
.navbar-main {
  // height: 128px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px 0px;
  height: 64px;
  position: relative;
}
// Note: after .navbar-main/.navbar-user to override any settings
// when there is an active dropdown
.navbar-dropdown-expanded {
  height: 128px;
}

.navbar-signup-button {
  @include signup-button(
      $color: black,
      $bg-color: var(--rh__primary-base),
      $bg-color-hover: rgba(0, 180, 5, 1)
    )
    @include type12;
}

.navbar-login-anchor {
  @include unstyled-anchor($color: black, $color-hover: rgba(0, 180, 5, 1));
  @include type12;
}

.navbar-login-text {
  white-space: nowrap;
  position: static;
  text-align: center;
}
