.portfolio-col-left {
  min-width: 0px;
  width: auto;
}

.portfolio-col-right {
}

.portfolio-graph-section {
  // FIXME: height / width to match graph size
  // width: 676px;
  height: 349px;
  margin-bottom: 44px;
  position: relative;
  border: 1px solid black;
}

.portfolio-buying-power {
  margin-bottom: 60px;
  margin-top: -24px;
  border: 1px solid black;
}

.portfolio-news-section {
  margin-bottom: 60px;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  border: 1px solid black;
}
