.port-sidebar-header-container {
  height: 52px;
  // left: 0px;
  // position: absolute;
  // top: 0px;
  width: 100%;
}

.port-sidebar-header {
  -webkit-box-align: center;
  align-items: center;
  border-color: var(--rh__neutral-bg3);
  background-color: var(--rh__neutral-bg1);
  border-top-style: solid;
  border-top-width: 1px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  height: 52px;
  padding: 4px 24px 0px;  
}

.port-sidebar-header-text {
}

// Buttons
.port-sidebar-header-button {
  background: none;
  border-width: 0px 0px 2px;
  border-top-style: initial;
  border-right-style: initial;
  border-left-style: initial;
  border-top-color: initial;
  border-right-color: initial;
  border-left-color: initial;
  border-image: initial;
  padding: 0px;
  font: inherit;
  appearance: none;
  text-align: unset;
  color: unset;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  border-bottom-style: solid;
  border-bottom-color: transparent;
  display: block;
  width: 24px;
  height: 100%;
  cursor: pointer;  
}
