.sidebar-content {
  height: calc(100% - var(--rh-fixed-header-height, 64px) - 31px);
  margin-left: -24px;
  margin-top: -24px;
  -ms-overflow-style: none;
  overflow-y: no-display;
  padding: 24px;
  position: fixed;
  scrollbar-width: none;
  top: calc(var(--rh-fixed-header-height, 64px) + 31px);
  width: 323.77778px;
  --rh-fixed-header-height: 64px;

  // &:hover {
  //   right: -30px;
  // }
}

.sidebar-container {
  position: relative;
  height: fit-content;
  width: 100%;
  overflow: hidden auto;
}

.sidebar-outer {
  overflow: hidden;
  // height: 0px;
  // width: 0px;
}

.sidebar-inner {
  box-sizing: border-box;
  direction: ltr;
  // height: 552px;
  position: relative;
  width: 276px;
  will-change: transform;
  overflow: auto;
}

.sidebar-scroll-container {
  width: auto;
  // height: 2354px;
  max-width: 276px;
  max-height: 2354px;
  overflow: hidden;
  position: relative;
}
