.lj-stock-info-about-container {
  margin-bottom: 15px;
}

.lj-stock-info-about {
  margin: 0px 0px 24px;
  max-width: 570px;
}

.lj-stock-info-grid {
  padding-top: 18px;
}

.lj-stock-info-cell {
  margin-bottom: 12px;
}

.lj-stock-info-cell-content {
  margin-top: 0px;
  margin-bottom: 0px;
}
