.sh-grid-cell {
  background-color: var(--rh__neutral-bg1);
  border-radius: var(--rh__size-palette__borderRadius);
  box-sizing: border-box;
  border: 1px solid var(--rh__neutral-bg3);
  padding: 24px;
}
