.lj-stock-graph-section {
  // width: 646px;
  height: 349px;
  margin-bottom: 44px;
  position: relative;
  border: 1px solid black;

  display: flex;
  align-items: center;
  justify-content: center;
}

.lj-stock-graph-header {
  margin-bottom: 12px;
  height: 95px;
}

.lj-stock-graph-price {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
}

.lj-stock-graph-price {
  margin: 0;
}

.lj-stock-graph-subheader {
  padding-top: 2px;
}

.lj-stock-graph-percent-change {
  @include type4;
}

.lj-stock-graph-percent-change-time {
  --rh__text-color: var(--rh__neutral-fg2);
  @include type1;
  color: var(--rh__text-color);
}
