.unknown-404-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-box-pack: justify;
}

.unknown-404-body {
  margin-left: calc(100vw - 100%);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.unknown-404-content {
  
}

.unknown-404-error {
  // color: white;
  font-size: 24px;
  font-weight: 500;
}

.unknown-404-image {
  width: 550px;
  height: 476px;
  margin-left: 24px;
  margin-botton: -20px;
}
