.headerContainer {
  height: 52px;
  // left: 0px;
  // position: absolute;
  // top: 0px;
  width: 100%;
}

.header {
  -webkit-box-align: center;
  align-items: center;
  border-color: var(--rh__neutral-bg3);
  background-color: var(--rh__neutral-bg1);
  border-top-style: solid;
  border-top-width: 1px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  height: 52px;
  padding: 4px 24px 0px;  
}

.headerText {
  composes: type8 from '../../../styles/font.module.scss';
}

.headerButton {
  background: none;
  border-width: 0px 0px 2px;
  border-top-style: initial;
  border-right-style: initial;
  border-left-style: initial;
  border-top-color: initial;
  border-right-color: initial;
  border-left-color: initial;
  border-image: initial;
  padding: 0px;
  font: inherit;
  appearance: none;
  text-align: unset;
  color: unset;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  border-bottom-style: solid;
  border-bottom-color: transparent;
  display: block;
  width: 24px;
  height: 100%;
  cursor: pointer;  
}

.followContainer {
  height: 60px;
  width: 100%;
}

.followOuter {
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: var(--rh__neutral-bg1);
}

.followButton {
  background: none;
  border: 0px;
  cursor: not-allowed;
  font: inherit;
  padding: 0px;
  appearance: none;
  height: 100%;
  width: 100%;
  color: inherit;
}

.followInner {
  display: flex;
  cursor: pointer;
  overflow: hidden;
  height: 100%;
  -webkit-box-flex: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  align-items: center;
}

.followLink {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0px 24px;
}

.followImage {}
.followIcon {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  overflow: hidden;
}

.followIconOuter {
  flex-shrink: 0;
  margin-right: 12px;
}

.followIconInner {
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  background-color: var(--rh__neutral-bg2);
  height: 40px;
  width: 30px;
}

.followTitle {
  composes: type1 from '../../../styles/font.module.scss';
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
