.lj-default-text {
  margin: 0px;
  text-decoration: unset;
  color: var(--rh__text-color);
}

.lj-primary {
  color: var(--rh__primary-base);
}

.lj-positive {
  --rh__text-color: var(--rh__semantic-positive-base);
}

.lj-negative {
  --rh__text-color: var(--rh__semantic-negative-base);
}

.type1 {
  font-family: var(--rh__type-palette__type1__stack);
  font-size: var(--rh__type-palette__type1__font-size);
  font-weight: var(--rh__type-palette__type1__font-weight);
  line-height: var(--rh__type-palette__type1__line-height);
  letter-spacing: var(--rh__type-palette__type1__letter-spacing);
}

.type2 {
  font-family: var(--rh__type-palette__type2__stack);
  font-size: var(--rh__type-palette__type2__font-size);
  font-weight: var(--rh__type-palette__type2__font-weight);
  line-height: var(--rh__type-palette__type2__line-height);
  letter-spacing: var(--rh__type-palette__type2__letter-spacing);
}

.type4 {
  font-family: var(--rh__type-palette__type4__stack);
  font-size: var(--rh__type-palette__type4__font-size);
  font-weight: var(--rh__type-palette__type4__font-weight);
  line-height: var(--rh__type-palette__type4__line-height);
  letter-spacing: var(--rh__type-palette__type4__letter-spacing);
}

.type7 {
  font-family: var(--rh__type-palette__type7__stack);
  font-size: var(--rh__type-palette__type7__font-size);
  font-weight: var(--rh__type-palette__type7__font-weight);
  line-height: var(--rh__type-palette__type7__line-height);
  letter-spacing: var(--rh__type-palette__type7__letter-spacing);
}

.type8 {
  font-family: var(--rh__type-palette__type8__stack);
  font-size: var(--rh__type-palette__type8__font-size);
  font-weight: var(--rh__type-palette__type8__font-weight);
  line-height: var(--rh__type-palette__type8__line-height);
  letter-spacing: var(--rh__type-palette__type8__letter-spacing);
}

.type11 {
  font-family: var(--rh__type-palette__type11__stack);
  font-size: var(--rh__type-palette__type11__font-size);
  font-weight: var(--rh__type-palette__type11__font-weight);
  line-height: var(--rh__type-palette__type11__line-height);
  letter-spacing: var(--rh__type-palette__type11__letter-spacing);
}

.type12 {
  font-family: var(--rh__type-palette__type12__stack);
  font-size: var(--rh__type-palette__type12__font-size);
  font-weight: var(--rh__type-palette__type12__font-weight);
  line-height: var(--rh__type-palette__type12__line-height);
  letter-spacing: var(--rh__type-palette__type12__letter-spacing);
}

.type15 {
  font-family: var(--rh__type-palette__type15__stack);
  font-size: var(--rh__type-palette__type15__font-size);
  font-weight: var(--rh__type-palette__type15__font-weight);
  line-height: var(--rh__type-palette__type15__line-height);
  letter-spacing: var(--rh__type-palette__type15__letter-spacing);
}

.type16 {
  font-family: var(--rh__type-palette__type16__stack);
  font-size: var(--rh__type-palette__type16__font-size);
  font-weight: var(--rh__type-palette__type16__font-weight);
  line-height: var(--rh__type-palette__type16__line-height);
  letter-spacing: var(--rh__type-palette__type16__letter-spacing);
}
