.lj-logo {
  fill: var(--rh__neutral-fg1);
}

.lj-logo:hover {
  fill: var(--rh__primary-base);
}

.lj-logo-named {
  position: absolute;
  top: 40px;
  display: block;
  fill: var(--rh__primary-base);
}

.lj-logo-text {
  composes: type16 from './font.module.scss';

  position: relative;
  left: 7px;
  top: 3px;
  text-align: right;
}
