@mixin type1 {
  font-family: var(--rh__type-palette__type1__stack);
  font-size: var(--rh__type-palette__type1__font-size);
  font-weight: var(--rh__type-palette__type1__font-weight);
  line-height: var(--rh__type-palette__type1__line-height);
  letter-spacing: var(--rh__type-palette__type1__letter-spacing);
}

@mixin type2 {
  font-family: var(--rh__type-palette__type2__stack);
  font-size: var(--rh__type-palette__type2__font-size);
  font-weight: var(--rh__type-palette__type2__font-weight);
  line-height: var(--rh__type-palette__type2__line-height);
  letter-spacing: var(--rh__type-palette__type2__letter-spacing);
}

@mixin type4 {
  font-family: var(--rh__type-palette__type4__stack);
  font-size: var(--rh__type-palette__type4__font-size);
  font-weight: var(--rh__type-palette__type4__font-weight);
  line-height: var(--rh__type-palette__type4__line-height);
  letter-spacing: var(--rh__type-palette__type4__letter-spacing);
}

@mixin type7 {
  font-family: var(--rh__type-palette__type7__stack);
  font-size: var(--rh__type-palette__type7__font-size);
  font-weight: var(--rh__type-palette__type7__font-weight);
  line-height: var(--rh__type-palette__type7__line-height);
  letter-spacing: var(--rh__type-palette__type7__letter-spacing);
}

@mixin type8 {
  font-family: var(--rh__type-palette__type8__stack);
  font-size: var(--rh__type-palette__type8__font-size);
  font-weight: var(--rh__type-palette__type8__font-weight);
  line-height: var(--rh__type-palette__type8__line-height);
  letter-spacing: var(--rh__type-palette__type8__letter-spacing);
}

@mixin type11 {
  font-family: var(--rh__type-palette__type11__stack);
  font-size: var(--rh__type-palette__type11__font-size);
  font-weight: var(--rh__type-palette__type11__font-weight);
  line-height: var(--rh__type-palette__type11__line-height);
  letter-spacing: var(--rh__type-palette__type11__letter-spacing);
}

@mixin type12 {
  font-family: var(--rh__type-palette__type12__stack);
  font-size: var(--rh__type-palette__type12__font-size);
  font-weight: var(--rh__type-palette__type12__font-weight);
  line-height: var(--rh__type-palette__type12__line-height);
  letter-spacing: var(--rh__type-palette__type12__letter-spacing);
}

@mixin type15 {
  font-family: var(--rh__type-palette__type15__stack);
  font-size: var(--rh__type-palette__type15__font-size);
  font-weight: var(--rh__type-palette__type15__font-weight);
  line-height: var(--rh__type-palette__type15__line-height);
  letter-spacing: var(--rh__type-palette__type15__letter-spacing);
}

@mixin type16 {
  font-family: var(--rh__type-palette__type16__stack);
  font-size: var(--rh__type-palette__type16__font-size);
  font-weight: var(--rh__type-palette__type16__font-weight);
  line-height: var(--rh__type-palette__type16__line-height);
  letter-spacing: var(--rh__type-palette__type16__letter-spacing);
}

@mixin unstyled-anchor-mixin($color: inherit, $color-hover: inherit) {
  color: $color;
  text-decoration: none;
  -webkit-box-align: center;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  -webkit-box-pack: center;
  justify-content: center;
  overflow: hidden;
  position: static;
  text-align: start;
  white-space: normal;
  visibility: inherit;

  &:hover {
    color: $color-hover;
  }
}

@mixin signup-button-mixin(
  $color: white,
  $bg-color: black,
  $bg-color-hover: rgb(42, 49, 55)
) {
  color: $color;
  -webkit-text-decoration: none;
  text-decoration: none;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  position: static;
  text-align: center;
  white-space: nowrap;
  padding: 0 36px;
  height: 48px;
  min-width: 144px;
  border-radius: 24px;
  width: auto;
  background-color: $bg-color;

  &:hover {
    color: $color;
    background-color: $bg-color-hover;
    text-decoration: none;
  }
}

@mixin square-button(
  $color: var(--rh__primary-base),
  $background: none,
  $background-color-hover: var(--rh__primary-light-base)
) {
  color: $color;
  background: $background;
  border: 1px solid currentcolor;
  padding-top: 0px;
  padding-bottom: 0px;
  font: inherit;
  appearance: none;
  text-align: unset;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  border-radius: var(--rh__size-palette__borderRadius);
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  white-space: nowrap;
  height: var(--rh__size-palette__cellHeight);
  min-width: 120px;
  max-width: 360px;
  padding-left: calc(4 * var(--rh__size-palette__gutterWidth));
  padding-right: calc(4 * var(--rh__size-palette__gutterWidth));
  cursor: pointer;
  width: 100%;

  &:hover {
    background-color: $background-color-hover;
    border-color: var(--rh__primary-hover);
  }
}
