.outer {
  flex-shrink: 0;
  margin-right: 12px;
}

.inner {
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  background-color: var(--rh__neutral-bg2);
  height: 40px;
  width: 30px;
}

.icon {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
}
