.header {
  background-color: var(--rh__neutral-bg1);
  height: 64px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.outer {
  margin: 0 auto;
  max-width: 100%;
  width: 1024px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 64px;
  -webkit-box-direction: normal;
}

.logoContainer {
  margin-right: 6px;
}

.itemsContainer {
  padding: 0 4px 0 6px;
  flex-shrink: 0;
  margin-left: auto;
}

.itemsOuter {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;

  &>div:not(:first-child) {
    margin-left: 33px;
  }
}

.link {
  composes: type8 from '../../styles/font.module.scss';

  display: inline-block;
  padding: 6px 0px;
  box-sizing: border-box;
  border-bottom: 2px solid transparent;
}

.disabled {
  composes: link;
  composes: disabled-link from '../../styles/button.module.scss';
}

.itemContainer {
  position: relative;
}
